openapi: 3.2.0
info:
  title: Keeper Security Health API
  version: '2026-10-04'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-10-04: 2 operation(s) read from 3 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Keeper Security has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 1
    documentation: 1
    pages-with-code: 1
    pages-read: 3
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-10-04'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://docs.keeper.io/en/keeperpam/commander-cli/service-mode-rest-api
  - https://docs.keeper.io/en/enterprise-guide/personal-vaults-for-enterprise-and-business-users/provision-family-plans-via-api
  - https://docs.keeper.io/en/enterprise-guide/personal-vaults-for-enterprise-and-business-users/provision-student-plans-via-api
servers:
- url: https://keepersecurity.com
tags:
- name: Health
paths:
  /health:
    get:
      operationId: get_health
      tags:
      - Health
      summary: GET /health
      x-source: https://docs.keeper.io/en/keeperpam/commander-cli/service-mode-rest-api
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: code-example
        language: curl
        snippet: curl http://localhost:8080/health Ask Copy {"status":"ok"} self.__next_f.push([1,"12d:I[80454,[\"6268\",\"static/chunks/f5718501-ee9a6dc237bd8306.js?dpl=p-dff0c7903e431df292b4b98b02b296\",\"2122\",\"static/chunks/9071f66d-65831af376c95d36.js?dpl=p-dff0c7903e431df292b4b98b02b296\",\"9246\",\"static/chunks/9246-30e02f67a3865098.js?dpl=p-dff0c7903e431df292b4b98b02b296\",\"6213\",\"static/chunks/6213-
